/* Background */
.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }
body{
      background-color:hsl(185, 75%, 39%);
      font-family: 'Kumbh Sans', sans-serif;
}
#background .imgtop img{
  position: absolute;
  top : -500px;
  left : -300px;
}
#background .imgbottom{
  position : absolute;
  width: 790px;
  height: 385px;
  object-fit: cover;
  object-position: 20% 10%;
  overflow:hidden;
  left: 650px;
  top : 335px;
}
/* Container */

#container .box{
  position : relative;
  width: 350px;
  height: 350px;
  border-radius : 25px;
  margin : auto;
  margin-top: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
.box .imgtop{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.box .profile{
  position: relative;
  border-radius: 50px;
  left: 50%;
  transform: translate(-50%);
  bottom : 15%;
  border : 5px solid white;
}
.box .textbox{
  position: relative;
  text-align: center;
  margin-top : -55px;
  font-size: 18px;
}
.box .textgrey{
  color:hsl(0, 0%, 59%);
}
.textbox .london{
  transform: translateY(-10px);
}
.textbox hr{
  transform: translateY(-10px);
}
.textbox ol{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-right: 50px;
  margin-top: 0;

}
.list li p{
  color:gray;
  font-size: 0.5em;
  transform: translateY(-5px);
}
footer{
  position: absolute;
  bottom: 0;
  right : 0;
  left: 0;;
}