body {
  background-color: #19a2ae;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-size: 18px;
  font-family: "Kumbh Sans";
}
.background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.background .imgtop,
.background .imgbottom {
  width: 978px;
  height: 978px;
}
.background .imgtop {
  background-image: url(/images/bg-pattern-top.svg);
  position: fixed;
  top: -600px;
  left: -750px;
}
.background .imgbottom {
  background-image: url(/images/bg-pattern-bottom.svg);
  position: fixed;
  bottom: -540px;
  right: -760px;
}
.box,
.box .profilepicture,
footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box {
  width: 85%;
  height: 95%;
  max-width: 330px;
  max-height: 375px;
  border-radius: 25px;
  box-shadow: 0 0 20px #00000017, 0 0 20px #0000001a;
  background-color: white;
}
.box .imgtop {
  background-image: url(/images/bg-pattern-card.svg);
  width: 100%;
  height: 38%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.box .profilepicture {
  background-image: url(/images/image-victor.jpg);
  width: 96px;
  height: 96px;
  border-radius: 50px;
  border: 5px solid white;
  top: 37%;
}
.box .title,
.box .textlondon {
  text-align: center;
}
.box .title {
  margin-top: 70px;
}
.box .textlondon {
  font-size: 0.8em;
}
.textgrey {
  color: #969696;
}
.box .divide {
  color: #969696;
  opacity: 20%;
}
.box .footer {
  margin-top: 25px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.footer p {
  font-size: 0.65em;
}
footer {
  top: 90%;
  text-align: center;
}
@media screen and (orientation: landscape) {
  body {
    background-color: red;
  }
}
